@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  padding: 24px;
  background-color: #eadcff;
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

button {
  padding: 8px 16px;
  font-size: 24px;
  border: none;
  color: white;
  background-color: #0fc7cf;
  cursor: pointer;
}

a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

#about,
#discord,
#contact,
footer {
  padding: 48px 0;
}

/* 

ABOUT 

*/

#about {
  background-color: #f8ffdc;
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 60px;
}

.section__description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__img--wrapper {
  width: 40%;
}

img {
  width: 100%;
}

.section__description--wrapper {
  width: 60%;
}

.about__img--wrapper,
.section__description--wrapper {
  padding: 0px 24px;
}

.section__description--paragraph {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.5;
}

/* 

DISCORD 

*/

#discord {
  background-color: #cefeff;
}

/* 

  CONTACT

*/

#contact {
  background: #dce9ff;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

input,
textarea {
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}

/* 

FOOTER

*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aaf5ff;
}

.footer__logo {
  margin-bottom: 16px;
  width: 480px;
}

.footer__links {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}